.page-footer {
  padding: 20px;
  text-align: center;
  border-top: 1px solid #ddd;
  background: #0e1531;
  color: #96a5b8;
}

.footer-item {
  font-style: italic;
  color: #96a5b8;
  font-size: large;
}
