.navbar {
  position: sticky;
  top: 0;
  min-height: 3rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, .05), inset 0 -1px 0 rgba(0, 0, 0, .1);
  padding: .5rem 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 2.5rem;
  color: hsl(204, 86%, 53%);
  font-family: cursive;
  letter-spacing: 0.3rem;
}

.exo-logo {
  padding-top: 1vh;
  max-height: 2.75rem;
}

.menu {
  float: right;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  list-style-type: none;
  margin: auto 1vw;
  cursor: none;
}

.menu-item a {
  font-size: 20px;
  color: white;
  text-decoration: none;
}

.menu-item+.menu-item {
  margin-left: 1vw;
}
