@import "header.css";
@import "footer.css";
@import "design.css";
@import "modal.css";
@import "loader.css";
@import "mediaquery.css";

/* Card Layout css */
.card {
  border: 1px solid #e7e7e7;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  transition: box-shadow .3s;
  height: 100%;
}

.card:hover {
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
}

.card-image {
  max-width: 100%;
}

.card-title {
  text-transform: capitalize;
}

.card-subtitle {
  color: #6d7780;
}

.text {
  padding: 0 20px 20px;
}

.signin-text, #wrapper-noprojects {
  position: absolute;
  top: 50%;
  left: 49%;
  height: 30%;
  width: 50%;
  margin: -2% 0 0 -25%;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(3, 350px);
  grid-gap: 25px;
  align-items: stretch;
  justify-content: center;
}

/* Snackbar */
#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  top: 30px;
  font-size: 17px;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {top: 0; opacity: 0;} 
  to {top: 30px; opacity: 1;}
}

@keyframes fadein {
  from {top: 0; opacity: 0;}
  to {top: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {top: 30px; opacity: 1;} 
  to {top: 0; opacity: 0;}
}

@keyframes fadeout {
  from {top: 30px; opacity: 1;}
  to {top: 0; opacity: 0;}
}